<div class="breadcrumb-container" *ngIf="breadcrumbs.length > 0">
  <div class="breadcrumb-items">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <a *ngIf="!isLast(i)"
         [routerLink]="breadcrumb.url"
         [queryParams]="breadcrumb.queryParams"
         class="breadcrumb-link">
        <mat-icon *ngIf="isFirst(i)" class="breadcrumb-icon">home</mat-icon>
        <span *ngIf="!isFirst(i)">{{ breadcrumb.label }}</span>
      </a>
      <span *ngIf="isLast(i)" class="breadcrumb-current">
        <mat-icon *ngIf="isFirst(i)" class="breadcrumb-icon">home</mat-icon>
        <span *ngIf="!isFirst(i)">{{ breadcrumb.label }}</span>
      </span>
      <mat-icon *ngIf="!isLast(i)" class="breadcrumb-separator">chevron_right</mat-icon>
    </ng-container>
  </div>
</div>
